# Host Config
parameters:

	# Database
	database:
		driver: pdo_mysql
		host: database
		port: 3306
		dbname: contributte-demo
		user: contributte-demo
		password: secret


# For 0.0.0.0 instead of localhost
# php -S 0.0.0.0 -t www
#	session:
#		cookieDomain: "?->getUrl()->getDomain(4)"(@Nette\Http\IRequest)

# STMP server
# E.q. mailtrap is cool.
#	smtp:
#		host: smtp.mailtrap.io
#		username: "***"
#		password: ***
#		port: 2525
